<%
#   image="/share/Apps/virtualapps/centos8/xfce8.sif"
#   image="/home/alp514/virtual/chemistry.sif"
   image="/home/alp514/leap153.sif"
%>
---
batch_connect:
  template: vnc
  set_host: "host=$(hostname)"
#  websockify_cmd: '/usr/bin/websockify'
  websockify_cmd: '/opt/websockify/run'
  script_wrapper: |
    export XDG_RUNTIME_DIR=""
    cat << "CTRSCRIPT" > container.sh
    export PATH="$PATH:/opt/TurboVNC/bin"
    %s
    CTRSCRIPT

    # your bindpath will differ
    export SINGULARITY_BINDPATH="$HOME,/share,/run"
    #
    #singularity run /share/Apps/virtualapps/centos7/mate.sif
    singularity exec <%= image %> /bin/bash container.sh    
script:
  queue_name: <%= custom_queue %>
  native:
    - "-N"
    - "<%= bc_num_slots %>"
    - "-n"
    - "<%= num_cores %>"
    <%- if gpus > "0" -%>
    - "--gres=gpu:<%= gpus %>"
    <%- end -%>
